@light-green:#708e48;
@dark-green:#4c721d;
@white:#fff;
@almost-white:#eee;
@black:#333;

@open-sans:'Open Sans', sans-serif;
@oswald: 'Oswald', sans-serif;

@headline-font:@oswald;
@body-font:@open-sans;

@site-space:10px;
@site-gutter:@site-space * 2;
